/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(c5cd7f5300576ab4c88202b42f6ded62.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(ced611daf7709cc778da928fec876475.eot);
    src: url(ced611daf7709cc778da928fec876475.eot?#iefix) format('embedded-opentype'), url(b7c9e1e479de3b53f1e4e30ebac2403a.woff) format('woff'), url(d41f55a78e6f49a5512878df1737e58a.ttf) format('truetype'), url(f97e3bbf73254b0112091d0192f17aec.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '\2190';
}
[dir='rtl'] .slick-prev:before
{
    content: '\2192';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '\2192';
}
[dir='rtl'] .slick-next:before
{
    content: '\2190';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '\2022';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
body {
  background-image: url(9933b06e10fc602673eb8146fa8df5d0.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed; }

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  font-family: "Heiti SC";
  padding-bottom: 3rem; }

#main {
  background-image: url(c5d62087f95e16b940c521f7f53f33b2.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
  padding: 10rem 2rem 2rem;
  display: flex;
  flex: 1; }

.grid {
  flex: 1;
  display: grid;
  grid-auto-rows: min-content; }
  @media (max-device-width: 900px), (max-width: 900px) {
    .grid {
      display: block;
      font-size: 1.5rem; } }
  .grid .invitation {
    grid-column: 1; }
  .grid .directions {
    grid-column: 2;
    grid-row: 1; }

.registry {
  text-align: left;
  font-family: "Heiti SC";
  padding-left: 0.5rem;
  margin-top: 5rem; }
  .registry a {
    color: #617189; }

.directions {
  display: grid;
  grid-auto-columns: min-content;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.75);
  margin: auto; }
  @media (max-device-width: 1350px), (max-width: 1350px) {
    .directions {
      display: block;
      margin-top: 2rem;
      max-width: 100%;
      margin-left: 0.5rem; } }
  .directions h3 {
    margin: 0.125rem 0 1rem 0;
    color: #617189;
    font-weight: 900;
    font-size: 18pt;
    font-family: "museo-slab"; }
  .directions h4 {
    color: #617189;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0; }
  .directions h5 {
    margin: 0; }
  .directions-arizona {
    grid-column: 1; }
  .directions-slc {
    grid-column: 2; }
  .directions-soutah {
    grid-column: 3; }
  .directions > div {
    margin: 0.5rem;
    padding: 0.5rem;
    color: black;
    min-width: 15rem; }
    .directions > div:first-of-type {
      margin-left: 0; }
    .directions > div:last-of-type {
      margin-right: 0; }
    @media (max-device-width: 1350px), (max-width: 1350px) {
      .directions > div {
        margin: 0;
        display: block;
        margin-bottom: 2rem; } }
  .directions-content-address {
    height: 6rem;
    line-height: 125%; }
  .directions ul {
    margin: 0; }

.invitation {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: #617189; }
  .invitation-content {
    margin: 3rem 0 0; }
  .invitation p {
    font-size: 14pt;
    margin: 0.5rem 0 0.5rem 0.5rem; }
  .invitation img {
    height: 100%;
    max-width: 800px; }
    @media (max-device-width: 900px), (max-width: 900px) {
      .invitation img {
        width: 100%; } }
